.temp-viewport {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1024px;
  height: 768px;
  margin: 0;
  padding: 94px 60px 40px 60px;
  background-color: #F5F5F5; }

.app-wrapper {
  font-size: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF; }

.app-wrapper * {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 12px;
  color: #555555; }

.app-wrapper .blackout-wrapper {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .app-wrapper .blackout-wrapper .modal-content-wrapper, .app-wrapper .blackout-wrapper .large-modal, .app-wrapper .blackout-wrapper .small-modal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    border: solid 1px #E0E0E0;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .app-wrapper .blackout-wrapper .modal-content-wrapper .modal-message-wrapper, .app-wrapper .blackout-wrapper .large-modal .modal-message-wrapper, .app-wrapper .blackout-wrapper .small-modal .modal-message-wrapper {
      font-size: 14px; }
    .app-wrapper .blackout-wrapper .modal-content-wrapper .modal-image, .app-wrapper .blackout-wrapper .large-modal .modal-image, .app-wrapper .blackout-wrapper .small-modal .modal-image {
      display: block;
      max-width: -webkit-calc(100% - 40px);
      max-width: calc(100% - 40px);
      min-height: 0;
      max-height: -webkit-calc(100% - 55px);
      max-height: calc(100% - 55px); }
    .app-wrapper .blackout-wrapper .modal-content-wrapper .modal-nav-wrapper, .app-wrapper .blackout-wrapper .large-modal .modal-nav-wrapper, .app-wrapper .blackout-wrapper .small-modal .modal-nav-wrapper {
      width: 100%; }
      .app-wrapper .blackout-wrapper .modal-content-wrapper .modal-nav-wrapper button:first-of-type, .app-wrapper .blackout-wrapper .large-modal .modal-nav-wrapper button:first-of-type, .app-wrapper .blackout-wrapper .small-modal .modal-nav-wrapper button:first-of-type {
        float: left; }
      .app-wrapper .blackout-wrapper .modal-content-wrapper .modal-nav-wrapper button:last-of-type, .app-wrapper .blackout-wrapper .large-modal .modal-nav-wrapper button:last-of-type, .app-wrapper .blackout-wrapper .small-modal .modal-nav-wrapper button:last-of-type {
        float: right; }
  .app-wrapper .blackout-wrapper .large-modal {
    width: 800px;
    height: 500px; }
  .app-wrapper .blackout-wrapper .small-modal {
    width: 400px;
    height: 175px; }
  .app-wrapper .blackout-wrapper .modal-active {
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
.app-wrapper .button-specs, .app-wrapper .primary-button, .app-wrapper .primary-button-blue, .app-wrapper .primary-button-green, .app-wrapper .primary-button-orange, .app-wrapper .primary-button-red, .app-wrapper .secondary-button, .app-wrapper .secondary-button-orange, .app-wrapper .secondary-button-gray {
  font-size: 14px;
  font-weight: bold;
  width: 140px;
  height: 35px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: none; }
.app-wrapper .button-specs:disabled, .app-wrapper .primary-button:disabled, .app-wrapper .primary-button-blue:disabled, .app-wrapper .primary-button-green:disabled, .app-wrapper .primary-button-orange:disabled, .app-wrapper .primary-button-red:disabled, .app-wrapper .secondary-button:disabled, .app-wrapper .secondary-button-orange:disabled, .app-wrapper .secondary-button-gray:disabled {
  opacity: 0.5; }
.app-wrapper .primary-button, .app-wrapper .primary-button-blue, .app-wrapper .primary-button-green, .app-wrapper .primary-button-orange, .app-wrapper .primary-button-red {
  border: none; }
.app-wrapper .secondary-button, .app-wrapper .secondary-button-orange, .app-wrapper .secondary-button-gray {
  border: solid 2px #555555;
  background-color: #FFFFFF; }
.app-wrapper .primary-button-blue {
  color: #FFFFFF;
  background-color: #0074C8; }
.app-wrapper .primary-button-green {
  color: #FFFFFF;
  background-color: #3FAE29; }
.app-wrapper .primary-button-orange {
  color: #FFFFFF;
  background-color: #E75200; }
.app-wrapper .primary-button-red {
  color: #FFFFFF;
  background-color: #C0392B; }
.app-wrapper .secondary-button-orange {
  color: #E75200;
  border-color: #E75200; }
.app-wrapper .secondary-button-gray {
  color: #555555;
  border-color: #555555; }
.app-wrapper ::-webkit-scrollbar {
  width: 40px;
  border: solid 1px #E0E0E0; }
.app-wrapper ::-webkit-scrollbar-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #E0E0E0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: 30px 30px;
          background-size: 30px 30px; }
.app-wrapper ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border: 4px solid transparent;
  background-color: #E0E0E0;
  -webkit-background-clip: padding-box;
          background-clip: padding-box; }
.app-wrapper ::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(../media/icons/up-arrow.png); }
.app-wrapper ::-webkit-scrollbar-button:vertical:increment {
  background-image: url(../media/icons/down-arrow.png); }
.app-wrapper .column-1,
.app-wrapper .column-2,
.app-wrapper .column-2a,
.app-wrapper .column-2b {
  display: inline-block;
  vertical-align: top; }
.app-wrapper .column-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100%;
  border: solid 1px #E0E0E0; }
.app-wrapper .column-2 {
  font-size: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 805px;
  height: 100%;
  margin-left: -1px;
  border: solid 1px #E0E0E0; }
.app-wrapper .column-2a {
  overflow-y: scroll;
  width: -webkit-calc(275px + 1px);
  width: calc(275px + 1px);
  height: -webkit-calc(100% - 50px + 2px);
  height: calc(100% - 50px + 2px);
  margin: -1px 0 0 -1px; }
.app-wrapper .column-2b {
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 528px;
  height: -webkit-calc(100% - 50px + 2px);
  height: calc(100% - 50px + 2px);
  padding: 20px 30px; }
.app-wrapper .column-2c {
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: -webkit-calc(100% - 50px + 2px);
  height: calc(100% - 50px + 2px);
  padding: 20px 30px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }
.app-wrapper .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-calc(100% + 2px);
  width: calc(100% + 2px);
  height: 50px;
  margin: -1px 0 0 -1px;
  padding: 0 20px;
  border: solid 1px #E0E0E0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
.app-wrapper .header * {
  font-size: 20px;
  font-weight: bold; }
.app-wrapper .navigation-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .app-wrapper .navigation-button * {
    font-size: 60px;
    color: #0074C8; }
.app-wrapper .navigation-button-selected {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0074C8; }
  .app-wrapper .navigation-button-selected * {
    color: #FFFFFF; }
  .app-wrapper .navigation-button-selected .unread-count {
    border-color: #0074C8;
    background-color: #FFFFFF; }
    .app-wrapper .navigation-button-selected .unread-count span {
      color: #0074C8; }
.app-wrapper .unread-count {
  position: absolute;
  top: 15px;
  left: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border: solid 2px #FFFFFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #0074C8;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .app-wrapper .unread-count span {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #FFFFFF; }
.app-wrapper .message-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-calc(100% - 1px);
  width: calc(100% - 1px);
  height: 80px;
  margin-top: -1px;
  margin-left: 1px;
  padding: 0 20px;
  cursor: pointer;
  border: solid 1px #E0E0E0;
  border-right: none;
  border-left: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
.app-wrapper .message-wrapper:first-of-type {
  margin-top: 0; }
.app-wrapper .message-wrapper-selected {
  background-color: #F5F5F5; }
.app-wrapper .unread-message * {
  font-weight: bold; }
.app-wrapper .message-content-wrapper > ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.app-wrapper .message-content-wrapper {
  width: 100%; }
  .app-wrapper .message-content-wrapper .person {
    float: left; }
  .app-wrapper .message-content-wrapper .attachment {
    margin-left: 5px; }
  .app-wrapper .message-content-wrapper .time {
    font-size: 10px;
    float: right; }
  .app-wrapper .message-content-wrapper .subject {
    font-style: italic; }
.app-wrapper .email-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%; }
.app-wrapper .message-header {
  font-size: 0;
  line-height: 12px;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 12px;
  border-bottom: solid 1px #E0E0E0; }
.app-wrapper .message-info,
.app-wrapper .message-actions {
  display: inline-block; }
.app-wrapper .message-info p {
  margin: 0 0 7px 0; }
.app-wrapper .message-info p:last-of-type {
  margin-bottom: 0; }
.app-wrapper .message-info > * > span:first-of-type {
  font-weight: bold; }
.app-wrapper .message-info .line-3 > span:last-of-type {
  cursor: pointer;
  text-decoration: underline;
  color: #E75200; }
.app-wrapper .message-actions {
  float: right; }
.app-wrapper .message-actions i {
  font-size: 32px;
  margin-left: 25px;
  cursor: pointer;
  color: #0074C8; }
.app-wrapper .message-body {
  position: relative;
  padding-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
.app-wrapper .image-view-button {
  position: absolute;
  right: 0;
  bottom: 0; }
.app-wrapper .email-reply {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%; }
  .app-wrapper .email-reply .reply-header {
    font-size: 0;
    line-height: 12px;
    width: 100%; }
  .app-wrapper .email-reply .reply-info p {
    margin: 0 0 7px 0;
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: solid 1px #E0E0E0; }
  .app-wrapper .email-reply .reply-info > * > span:first-of-type {
    font-weight: bold; }
  .app-wrapper .email-reply .reply-body {
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .app-wrapper .email-reply .reply-body div {
      width: 100%;
      min-height: 300px;
      resize: none;
      border: none;
      outline: none; }
.app-wrapper .reply-actions-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  height: 60px;
  min-height: 0;
  padding: 0 20px;
  background-color: rgba(25, 25, 25, 0.8);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.app-wrapper .reply-message-active {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
