body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:800px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:800px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:806px;
  height:800px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:806px;
  height:50px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:11px;
  width:184px;
  height:27px;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u1802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 3px 3px rgba(161, 161, 161, 0.349019607843137);
  -webkit-box-shadow:0px 3px 3px rgba(161, 161, 161, 0.349019607843137);
  box-shadow:0px 3px 3px rgba(161, 161, 161, 0.349019607843137);
  font-family:'Open Sans';
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:70px;
  width:765px;
  height:450px;
  font-family:'Open Sans';
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:20px;
  width:705px;
  word-wrap:break-word;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:116px;
  width:705px;
  height:1px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-style:normal;
  color:#555555;
  text-align:right;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:15px;
  width:146px;
  height:19px;
  font-family:'Open Sans';
  font-style:normal;
  color:#555555;
  text-align:right;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:149px;
  width:705px;
  height:1px;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:2px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:183px;
  width:705px;
  height:1px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#555555;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:158px;
  width:61px;
  height:17px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#555555;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:157px;
  width:20px;
  height:20px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:540px;
  width:224px;
  height:19px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u1820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:540px;
  width:20px;
  height:20px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#555555;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:589px;
  width:52px;
  height:19px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#555555;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:586px;
  width:24px;
  height:24px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:632px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:175px;
  height:632px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:308px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(224, 224, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:170px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:410;
  font-style:normal;
  color:#555555;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:191px;
  width:59px;
  height:19px;
  font-family:'Open Sans';
  font-weight:410;
  font-style:normal;
  color:#555555;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:187px;
  width:26px;
  height:26px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:251px;
  width:41px;
  height:19px;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:250px;
  width:20px;
  height:20px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:311px;
  width:31px;
  height:19px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:308px;
  width:26px;
  height:26px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:371px;
  width:42px;
  height:19px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:370px;
  width:20px;
  height:20px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:431px;
  width:39px;
  height:19px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:428px;
  width:24px;
  height:24px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#555555;
  text-align:right;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:251px;
  width:9px;
  height:19px;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#555555;
  text-align:right;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 116, 200, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:116px;
  width:140px;
  height:35px;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u1862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 116, 200, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:580px;
  width:140px;
  height:35px;
  font-family:'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:20px;
  width:75px;
  height:75px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:97px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:8px;
  width:67px;
  height:97px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#555555;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:87px;
  width:69px;
  height:17px;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#555555;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:86px;
  width:20px;
  height:20px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
