.app-container {
  font-size: 0;
  position: relative;
  width: 980px;
  height: 800px; }
  .app-container ::-webkit-scrollbar {
    display: none; }
  .app-container p {
    font-size: 12px; }
  .app-container .blackout-wrapper {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center; }
    .app-container .blackout-wrapper .modal-content-wrapper, .app-container .blackout-wrapper .large-modal, .app-container .blackout-wrapper .small-modal {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 20px;
      transform: scale(0);
      border: solid 1px #E0E0E0;
      border-radius: 2px;
      background-color: #FFFFFF;
      justify-content: space-between;
      align-items: center; }
      .app-container .blackout-wrapper .modal-content-wrapper .modal-message-wrapper, .app-container .blackout-wrapper .large-modal .modal-message-wrapper, .app-container .blackout-wrapper .small-modal .modal-message-wrapper {
        font-size: 14px; }
      .app-container .blackout-wrapper .modal-content-wrapper .modal-image, .app-container .blackout-wrapper .large-modal .modal-image, .app-container .blackout-wrapper .small-modal .modal-image {
        display: block;
        max-width: calc(100% - 40px);
        min-height: 0;
        max-height: calc(100% - 55px); }
      .app-container .blackout-wrapper .modal-content-wrapper .modal-nav-wrapper, .app-container .blackout-wrapper .large-modal .modal-nav-wrapper, .app-container .blackout-wrapper .small-modal .modal-nav-wrapper {
        width: 100%; }
        .app-container .blackout-wrapper .modal-content-wrapper .modal-nav-wrapper button:first-of-type, .app-container .blackout-wrapper .large-modal .modal-nav-wrapper button:first-of-type, .app-container .blackout-wrapper .small-modal .modal-nav-wrapper button:first-of-type {
          float: left; }
        .app-container .blackout-wrapper .modal-content-wrapper .modal-nav-wrapper button:last-of-type, .app-container .blackout-wrapper .large-modal .modal-nav-wrapper button:last-of-type, .app-container .blackout-wrapper .small-modal .modal-nav-wrapper button:last-of-type {
          float: right; }
    .app-container .blackout-wrapper .large-modal {
      width: calc(100% - 40px);
      max-width: 800px;
      height: 500px; }
    .app-container .blackout-wrapper .small-modal {
      width: calc(100% - 40px);
      max-width: 400px;
      height: 175px; }
    .app-container .blackout-wrapper .modal-active {
      transition: all 0.15s ease-in-out;
      transform: scale(1); }
  .app-container .button-specs, .app-container .primary-button, .app-container .primary-button-blue, .app-container .primary-button-green, .app-container .primary-button-orange, .app-container .primary-button-red, .app-container .secondary-button, .app-container .secondary-button-orange, .app-container .secondary-button-gray {
    font-size: 14px;
    font-weight: bold;
    width: 140px;
    height: 35px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 2px;
    outline: none; }
  .app-container .button-specs:disabled, .app-container .primary-button:disabled, .app-container .primary-button-blue:disabled, .app-container .primary-button-green:disabled, .app-container .primary-button-orange:disabled, .app-container .primary-button-red:disabled, .app-container .secondary-button:disabled, .app-container .secondary-button-orange:disabled, .app-container .secondary-button-gray:disabled {
    cursor: default;
    opacity: 0.5; }
  .app-container .primary-button, .app-container .primary-button-blue, .app-container .primary-button-green, .app-container .primary-button-orange, .app-container .primary-button-red {
    border: none; }
  .app-container .secondary-button, .app-container .secondary-button-orange, .app-container .secondary-button-gray {
    border: solid 2px #555555;
    background-color: #FFFFFF; }
  .app-container .primary-button-blue {
    color: #FFFFFF;
    background-color: #0074C8; }
  .app-container .primary-button-green {
    color: #FFFFFF;
    background-color: #3FAE29; }
  .app-container .primary-button-orange {
    color: #FFFFFF;
    background-color: #E75200; }
  .app-container .primary-button-red {
    color: #FFFFFF;
    background-color: #C0392B; }
  .app-container .secondary-button-orange {
    color: #E75200;
    border-color: #E75200; }
  .app-container .secondary-button-gray {
    color: #555555;
    border-color: #555555; }
  .app-container .navigation-button-selected {
    color: #FFFFFF;
    background-color: #0074C8; }

.app-container,
.app-container * {
  font-family: "Open Sans", "Helvetica", sans-serif;
  box-sizing: border-box;
  color: #555555; }

.column-1,
.column-2 {
  display: inline-block;
  clear: none;
  box-sizing: content-box;
  vertical-align: top; }

.column-1 {
  width: 175px;
  height: 100%; }

.logo-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 170px;
  margin: -1px 0 0 -1px;
  border: solid 1px #E0E0E0;
  justify-content: space-between;
  align-items: center; }

.logo-section .avatar {
  width: 75px;
  height: 75px;
  margin: 20px 0;
  border: solid 1px #E0E0E0;
  border-radius: 50%; }

.logo-section button {
  margin-bottom: 20px; }

.controls-section {
  font-size: calc(12px + 2px);
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 167px);
  margin: -1px 0 0 -1px;
  border: solid 1px #E0E0E0; }
  .controls-section span {
    color: inherit; }
  .controls-section i {
    font-size: 19.2px;
    margin-right: 10px;
    color: inherit; }
  .controls-section > ul {
    margin: 0;
    padding: 0; }
    .controls-section > ul > li {
      width: 100%;
      padding: 15px 15px;
      list-style: none;
      cursor: pointer; }
    .controls-section > ul .unread-email-count {
      font-weight: bold;
      float: right;
      margin-top: 6px; }

.column-2 {
  font-size: 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: calc(980px - 175px);
  height: calc(100% + 2px);
  margin: -1px 0 0 -2px;
  border: solid 1px #E0E0E0; }
  .column-2 .column-2-header {
    font-size: calc(12px + 2px);
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: -1px 0 0 0;
    padding: 0 20px;
    border-bottom: solid 1px #E0E0E0;
    align-items: center;
    justify-content: space-between; }
    .column-2 .column-2-header p {
      font-size: inherit; }

.column-2-header * {
  cursor: pointer; }

.column-2-header > span:first-of-type {
  font-size: 20px;
  font-weight: bold;
  cursor: default; }

.column-2a,
.column-2b {
  display: inline-block; }

.column-2a {
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 277px;
  height: calc(100% - 50px + 1px);
  border-right: solid 1px #E0E0E0; }
  .column-2a ul {
    width: 100%;
    padding: 0;
    list-style: none; }
    .column-2a ul li {
      transition: transform 0.05s ease-in-out;
      background-color: #FFFFFF; }
  .column-2a .message-thumbnail {
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: -1px;
    cursor: pointer;
    border-top: solid 1px #E0E0E0;
    border-bottom: solid 1px #E0E0E0; }
    .column-2a .message-thumbnail > div:first-of-type {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: flex;
      width: 50px;
      height: 100%;
      background-color: #C0392B;
      align-items: center;
      justify-content: center; }
      .column-2a .message-thumbnail > div:first-of-type i {
        font-size: 24px;
        color: #FFFFFF; }
    .column-2a .message-thumbnail > div:last-of-type {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 23px 21px;
      background-color: #FFFFFF; }
      .column-2a .message-thumbnail > div:last-of-type > div {
        position: relative;
        width: 100%;
        height: 100%; }
    .column-2a .message-thumbnail input {
      position: absolute;
      top: 0;
      left: 0; }
    .column-2a .message-thumbnail .email-receipt-time {
      font-size: calc(12px - 2px);
      position: absolute;
      top: 0;
      right: 0; }
    .column-2a .message-thumbnail p {
      overflow: hidden;
      margin: 0 0 0 30px;
      padding: 0;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .column-2a .message-thumbnail p:first-of-type {
      max-width: 130px; }
    .column-2a .message-thumbnail p:last-of-type {
      font-style: italic; }
  .column-2a .unread-message * {
    font-weight: bold; }

.column-2b {
  overflow-y: scroll;
  width: 526px;
  height: calc(100% - 50px + 1px);
  padding: 20px;
  vertical-align: top;
  background-color: #F5F5F5; }
  .column-2b .message-card {
    box-sizing: border-box;
    width: 100%;
    min-height: 150px;
    padding: 20px 30px;
    background-color: #FFFFFF;
    box-shadow: rgba(161, 161, 161, 0.35) 0 3px 3px 0; }
    .column-2b .message-card i {
      cursor: pointer; }
    .column-2b .message-card .message-card-header {
      display: flex;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: solid 1px #E0E0E0;
      justify-content: space-between; }
      .column-2b .message-card .message-card-header .header-information p {
        overflow: hidden;
        width: 275px;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .column-2b .message-card .message-card-header .header-actions {
        font-size: 26px;
        vertical-align: bottom; }
        .column-2b .message-card .message-card-header .header-actions i {
          margin-left: 15px; }
    .column-2b .message-card .image-link {
      cursor: pointer;
      text-decoration: underline;
      color: #E75200; }

.column-2c {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 50px + 2px);
  padding: 20px 30px;
  padding: 20px;
  transform: scale(0);
  background-color: #F5F5F5; }
  .column-2c > * {
    width: 100%;
    min-height: 250px;
    margin-bottom: 80px;
    padding: 20px 30px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: rgba(161, 161, 161, 0.35) 0 3px 3px 0; }
  .column-2c .blank-canvas {
    font-size: calc(12px + 2px);
    padding: 0;
    background-color: transparent !important;
    box-shadow: none; }
  .column-2c .add-contact-link {
    cursor: pointer;
    text-decoration: underline;
    color: #E75200; }
  .column-2c .email-reply {
    display: flex;
    flex-direction: column; }
    .column-2c .email-reply .reply-header {
      font-size: 0;
      line-height: 12px;
      width: 100%; }
    .column-2c .email-reply .reply-info p {
      overflow: hidden;
      margin: 0 0 7px 0;
      margin-bottom: 10px;
      padding-bottom: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-bottom: solid 1px #E0E0E0; }
    .column-2c .email-reply .reply-info > * > span:first-of-type {
      font-weight: bold; }
    .column-2c .email-reply .reply-info span:focus {
      outline: none; }
    .column-2c .email-reply .reply-info .line-3 input {
      display: none; }
    .column-2c .email-reply .reply-info .line-3 .attachment-button,
    .column-2c .email-reply .reply-info .line-3 .attachment-remove-button {
      font-size: 14px;
      float: right;
      margin: 0;
      padding: 0;
      cursor: pointer; }
      .column-2c .email-reply .reply-info .line-3 .attachment-button u,
      .column-2c .email-reply .reply-info .line-3 .attachment-remove-button u {
        font-size: 12px;
        margin-left: 5px; }
    .column-2c .email-reply .reply-body {
      font-size: 12px;
      position: relative;
      width: 100%;
      flex-grow: 1; }
      .column-2c .email-reply .reply-body div {
        width: 100%;
        min-height: 300px;
        resize: none;
        word-wrap: break-word;
        border: none;
        outline: none; }
  .column-2c .contact-list-card,
  .column-2c .contact-search-results-card,
  .column-2c tr {
    text-align: left;
    border: solid 1px #555555; }
  .column-2c .contact-list-card,
  .column-2c .contact-search-results-card {
    min-height: 0;
    padding: 0;
    border-collapse: collapse; }
    .column-2c .contact-list-card *,
    .column-2c .contact-search-results-card * {
      font-size: calc(12px + 2px); }
    .column-2c .contact-list-card tr,
    .column-2c .contact-search-results-card tr {
      height: 50px; }
    .column-2c .contact-list-card tr:first-of-type *,
    .column-2c .contact-search-results-card tr:first-of-type * {
      font-weight: bold;
      color: #FFFFFF;
      background-color: #555555; }
    .column-2c .contact-list-card tr:nth-of-type(odd),
    .column-2c .contact-search-results-card tr:nth-of-type(odd) {
      background-color: #E0E0E0; }
    .column-2c .contact-list-card td,
    .column-2c .contact-list-card th,
    .column-2c .contact-search-results-card td,
    .column-2c .contact-search-results-card th {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .column-2c .contact-list-card th:nth-of-type(1),
    .column-2c .contact-list-card td:nth-of-type(1),
    .column-2c .contact-search-results-card th:nth-of-type(1),
    .column-2c .contact-search-results-card td:nth-of-type(1) {
      width: 95px; }
      .column-2c .contact-list-card th:nth-of-type(1) input,
      .column-2c .contact-list-card td:nth-of-type(1) input,
      .column-2c .contact-search-results-card th:nth-of-type(1) input,
      .column-2c .contact-search-results-card td:nth-of-type(1) input {
        margin-left: 30px;
        cursor: pointer;
        transform: scale(1.5); }
    .column-2c .contact-list-card th:nth-of-type(2),
    .column-2c .contact-list-card td:nth-of-type(2),
    .column-2c .contact-search-results-card th:nth-of-type(2),
    .column-2c .contact-search-results-card td:nth-of-type(2) {
      width: 290px;
      padding: 0 10px; }
    .column-2c .contact-list-card th:nth-of-type(3),
    .column-2c .contact-list-card td:nth-of-type(3),
    .column-2c .contact-search-results-card th:nth-of-type(3),
    .column-2c .contact-search-results-card td:nth-of-type(3) {
      padding: 0 30px 0 10px; }
    .column-2c .contact-list-card td,
    .column-2c .contact-search-results-card td {
      cursor: pointer; }
  .column-2c .contact-search-card > div {
    font-size: 0;
    width: 500px; }
  .column-2c .contact-search-card > div > div {
    font-size: calc(12px + 2px);
    display: inline-block;
    margin: 0;
    padding: 0; }
  .column-2c .contact-search-card > div > div:first-of-type {
    margin-bottom: 20px; }
  .column-2c .contact-search-card label {
    font-weight: bold; }
  .column-2c .contact-search-card input,
  .column-2c .contact-search-card select {
    height: 40px;
    margin: 0;
    padding: 0 5px;
    border: solid 1px #555555;
    border-radius: 2px; }
  .column-2c .contact-search-card select {
    cursor: pointer; }
  .column-2c .contact-search-card select[name='facilityState'] {
    width: 150px;
    margin-right: 20px !important; }
  .column-2c .contact-search-card select[name='facilityName'] {
    width: 330px; }
  .column-2c .contact-search-card input[name='firstName'] {
    width: 240px;
    margin-right: 20px !important; }
  .column-2c .contact-search-card input[name='lastName'] {
    width: 240px;
    margin: 0 !important; }
  .column-2c .contact-search-card input[name='inmateID'] {
    width: 500px; }
  .column-2c .contact-search-card .section-break {
    position: relative;
    width: 100%;
    margin: 35px 0 24px 0;
    border-bottom: solid 1px #E0E0E0; }
    .column-2c .contact-search-card .section-break span {
      position: absolute;
      top: -10px;
      left: 45%;
      padding: 0 10px;
      background-color: #FFFFFF; }
  .column-2c .purchase-stamps-card * {
    font-size: calc(12px + 2px); }
  .column-2c .purchase-stamps-card > form {
    width: 500px; }
    .column-2c .purchase-stamps-card > form > div {
      font-size: 0; }
  .column-2c .purchase-stamps-card .new-card * {
    cursor: pointer;
    color: #E75200; }
  .column-2c .purchase-stamps-card label {
    font-weight: bold; }
  .column-2c .purchase-stamps-card .stamps-chunk label {
    font-weight: normal;
    display: flex;
    margin-bottom: -10px;
    cursor: pointer;
    align-items: flex-start; }
    .column-2c .purchase-stamps-card .stamps-chunk label input {
      width: 20px;
      height: 20px; }
    .column-2c .purchase-stamps-card .stamps-chunk label span {
      margin: 3px 0 0 10px; }
  .column-2c .purchase-stamps-card select,
  .column-2c .purchase-stamps-card input[type='radio'],
  .column-2c .purchase-stamps-card input[type='checkbox'] {
    cursor: pointer; }
  .column-2c .purchase-stamps-card select,
  .column-2c .purchase-stamps-card input[type='text'],
  .column-2c .purchase-stamps-card input[type='tel'] {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    border: solid 1px #555555;
    border-radius: 2px; }
  .column-2c .purchase-stamps-card .section-break {
    width: 100%;
    margin: 17px 0 25px 0;
    border-bottom: solid 1px #E0E0E0; }
  .column-2c .purchase-stamps-card .section-chunk {
    display: inline-block;
    clear: both;
    margin-bottom: 20px; }
  .column-2c .purchase-stamps-card .inmate-name-chunk,
  .column-2c .purchase-stamps-card .stamps-chunk,
  .column-2c .purchase-stamps-card .saved-card-chunk,
  .column-2c .purchase-stamps-card .billing-chunk,
  .column-2c .purchase-stamps-card .billing2-chunk,
  .column-2c .purchase-stamps-card .card-type-chunk,
  .column-2c .purchase-stamps-card .card-number-chunk {
    width: 500px; }
  .column-2c .purchase-stamps-card .first-name-chunk,
  .column-2c .purchase-stamps-card .last-name-chunk {
    width: 240px;
    margin-top: 50px; }
  .column-2c .purchase-stamps-card .first-name-chunk,
  .column-2c .purchase-stamps-card .city-chunk,
  .column-2c .purchase-stamps-card .state-chunk,
  .column-2c .purchase-stamps-card .expiration-date-chunk {
    margin-right: 20px; }
  .column-2c .purchase-stamps-card .city-chunk,
  .column-2c .purchase-stamps-card .state-chunk,
  .column-2c .purchase-stamps-card .expiration-date-chunk {
    width: 175px; }
  .column-2c .purchase-stamps-card .zip-chunk {
    width: 110px; }
  .column-2c .purchase-stamps-card .expiration-year-chunk,
  .column-2c .purchase-stamps-card .cvv-chunk {
    width: 100px; }
  .column-2c .purchase-stamps-card .expiration-year-chunk {
    margin-right: 70px; }
  .column-2c .purchase-stamps-card .cvv-info {
    font-size: 24px;
    margin-left: 11px;
    cursor: pointer;
    color: #E75200; }
  .column-2c .purchase-stamps-card .save-card {
    font-weight: normal; }
    .column-2c .purchase-stamps-card .save-card input {
      margin-right: 10px; }
  .column-2c .stamp-transaction-card tr {
    text-align: left;
    border: solid 1px #555555; }
  .column-2c .stamp-transaction-card {
    min-height: 0;
    padding: 0;
    border-collapse: collapse; }
    .column-2c .stamp-transaction-card * {
      font-size: calc(12px + 2px); }
    .column-2c .stamp-transaction-card tr {
      height: 50px; }
    .column-2c .stamp-transaction-card tr:first-of-type * {
      font-weight: bold;
      color: #FFFFFF;
      background-color: #555555; }
    .column-2c .stamp-transaction-card tr:nth-of-type(odd) {
      background-color: #E0E0E0; }
    .column-2c .stamp-transaction-card td,
    .column-2c .stamp-transaction-card th {
      overflow: hidden;
      width: 25%;
      white-space: nowrap;
      text-transform: capitalize;
      text-overflow: ellipsis; }
    .column-2c .stamp-transaction-card th:nth-of-type(1),
    .column-2c .stamp-transaction-card td:nth-of-type(1) {
      padding: 0 10px 0 20px; }
    .column-2c .stamp-transaction-card th:nth-of-type(2),
    .column-2c .stamp-transaction-card td:nth-of-type(2) {
      padding: 0 10px;
      text-align: center !important; }
    .column-2c .stamp-transaction-card th:nth-of-type(3),
    .column-2c .stamp-transaction-card td:nth-of-type(3) {
      padding: 0 20px 0 10px;
      text-align: center !important; }

.actions-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  min-height: 0;
  padding: 0 20px;
  background-color: rgba(25, 25, 25, 0.8); }
  .actions-panel > * {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between; }
  .actions-panel > div > *:first-of-type * {
    cursor: pointer !important; }
  .actions-panel .message-reply-actions > div {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center; }
    .actions-panel .message-reply-actions > div p {
      width: 75%;
      margin-left: 7px;
      color: #FFFFFF; }
  .actions-panel .contact-list-actions *,
  .actions-panel .search-contact-actions *,
  .actions-panel .add-contact-actions *,
  .actions-panel .purchase-stamps-actions *,
  .actions-panel .stamp-history-actions * {
    font-size: 14px;
    color: #FFFFFF; }
  .actions-panel .contact-list-actions i,
  .actions-panel .search-contact-actions i,
  .actions-panel .add-contact-actions i,
  .actions-panel .purchase-stamps-actions i,
  .actions-panel .stamp-history-actions i {
    font-size: 26px; }

.column-active {
  transition: transform 0.2s ease-in-out;
  transform: scale(1); }

@media only screen and (max-width: 1024px) {
  .app-container {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: 530px; }
    .app-container .button-specs, .app-container .primary-button, .app-container .primary-button-blue, .app-container .primary-button-green, .app-container .primary-button-orange, .app-container .primary-button-red, .app-container .secondary-button, .app-container .secondary-button-orange, .app-container .secondary-button-gray {
      font-size: 12px;
      font-weight: bold;
      width: 100px; }
    .app-container .selected-table-element {
      background-color: #0074C8 !important;
      box-shadow: inset 0 0 5px #000000; }
      .app-container .selected-table-element * {
        color: #FFFFFF !important; }
    .app-container .swipe-delete > div:last-of-type {
      transform: translateX(50px); }

  .blackout-wrapper .large-modal {
    max-height: 300px !important; }

  .column-1 {
    min-width: 50px !important;
    max-width: 50px !important;
    height: 100%; }
    .column-1 .logo-section {
      display: none; }
    .column-1 .controls-section {
      height: calc(100% + 2px); }
    .column-1 .controls-section li {
      font-size: 10px !important;
      display: flex;
      height: 60px;
      margin: 0;
      padding: 0;
      border-radius: 3px;
      align-items: center;
      justify-content: center; }
      .column-1 .controls-section li i {
        font-size: 24px;
        margin: 0;
        padding: 0; }
      .column-1 .controls-section li span {
        display: none; }

  .column-2 {
    flex-grow: 1; }
    .column-2 .column-2-header {
      font-size: 12px;
      padding: 0 10px; }
      .column-2 .column-2-header > span:first-of-type {
        font-size: calc(12px + 2px); }
    .column-2 .column-2a,
    .column-2 .column-2b,
    .column-2 .column-2c {
      width: calc(100% + 1px); }
    .column-2 .column-2a .message-thumbnail {
      height: 50px; }
      .column-2 .column-2a .message-thumbnail input {
        visibility: hidden; }
      .column-2 .column-2a .message-thumbnail p {
        margin: 0; }
      .column-2 .column-2a .message-thumbnail > div:last-of-type {
        padding: 7px 10px; }
    .column-2 .column-2b {
      display: none;
      padding: 0; }
      .column-2 .column-2b .message-card {
        min-height: 100%;
        padding: 10px;
        box-shadow: none; }
        .column-2 .column-2b .message-card .message-card-header {
          padding-bottom: 10px;
          border-bottom: solid 1px #E0E0E0; }
          .column-2 .column-2b .message-card .message-card-header .header-information p {
            overflow: hidden;
            width: 150px;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .column-2 .column-2b .message-card .message-card-header .header-actions {
            font-size: 20px;
            vertical-align: bottom; }
            .column-2 .column-2b .message-card .message-card-header .header-actions i {
              margin-left: 15px; }
    .column-2 .column-2c {
      padding: 0; }
      .column-2 .column-2c > * {
        padding: 10px; }
      .column-2 .column-2c .blank-canvas {
        font-size: 12px; }
      .column-2 .column-2c .contact-list-card,
      .column-2 .column-2c .contact-search-results-card {
        border: none !important; }
        .column-2 .column-2c .contact-list-card *,
        .column-2 .column-2c .contact-search-results-card * {
          font-size: 12px;
          border: none !important; }
        .column-2 .column-2c .contact-list-card th:first-of-type,
        .column-2 .column-2c .contact-list-card tr > td:first-of-type,
        .column-2 .column-2c .contact-list-card th:last-of-type,
        .column-2 .column-2c .contact-list-card tr > td:last-of-type,
        .column-2 .column-2c .contact-search-results-card th:first-of-type,
        .column-2 .column-2c .contact-search-results-card tr > td:first-of-type,
        .column-2 .column-2c .contact-search-results-card th:last-of-type,
        .column-2 .column-2c .contact-search-results-card tr > td:last-of-type {
          display: none; }
      .column-2 .column-2c .contact-search-card > div {
        font-size: 0;
        width: 100%; }
      .column-2 .column-2c .contact-search-card > div > div {
        font-size: 12px;
        width: 100%;
        margin-bottom: 20px; }
      .column-2 .column-2c .contact-search-card input,
      .column-2 .column-2c .contact-search-card select {
        width: 100%; }
      .column-2 .column-2c .contact-search-card .section-break {
        margin: 8px 0 24px 0; }
        .column-2 .column-2c .contact-search-card .section-break span {
          top: -8px;
          left: 106px; }
      .column-2 .column-2c .purchase-stamps-card > form {
        width: 100%; }
        .column-2 .column-2c .purchase-stamps-card > form label,
        .column-2 .column-2c .purchase-stamps-card > form select,
        .column-2 .column-2c .purchase-stamps-card > form option,
        .column-2 .column-2c .purchase-stamps-card > form input {
          font-size: 12px; }
      .column-2 .column-2c .purchase-stamps-card .section-chunk {
        width: 100%;
        margin: 0 0 20px 0 !important; }
      .column-2 .column-2c .purchase-stamps-card .first-name-chunk {
        margin-top: 30px !important; }
      .column-2 .column-2c .purchase-stamps-card .stamps-chunk label {
        align-items: center; }
        .column-2 .column-2c .purchase-stamps-card .stamps-chunk label input {
          width: 30px;
          height: 30px; }
      .column-2 .column-2c .purchase-stamps-card .cvv-chunk {
        width: 210px; }
      .column-2 .column-2c .purchase-stamps-card .cvv-info {
        margin-left: 15px; }
      .column-2 .column-2c .purchase-stamps-card .save-card input {
        transform: scale(1.5); }
      .column-2 .column-2c .stamp-transaction-card {
        border: none !important; }
        .column-2 .column-2c .stamp-transaction-card * {
          font-size: 12px;
          border: none !important; }

  .actions-panel .message-reply-actions > div input {
    transform: scale(1.5); }
  .actions-panel .message-reply-actions > div p {
    font-size: calc(12px - 2px); }
  .actions-panel .contact-list-actions p i {
    font-size: 24px; }
  .actions-panel p i {
    font-size: 16px !important; }
  .actions-panel p u {
    font-size: 12px !important; } }
@media only screen and (min-width: 1025px) {
  .app-container .message-thumbnail-selected > div:last-of-type {
    background-color: #E0E0E0 !important; }
  .app-container .controls-section .navigation-button:hover {
    color: #FFFFFF;
    background-color: #0074C8; }
  .app-container .controls-section li:first-of-type {
    display: none; }
  .app-container .column-2a .message-thumbnail:hover > div:first-of-type {
    background-color: #FFFFFF; }
  .app-container .column-2a .message-thumbnail:hover > div:last-of-type {
    background-color: rgba(224, 224, 224, 0.25); } }

/*# sourceMappingURL=emessaging.css.map */
